@font-face {
  font-family: VT323;
  src: url('/static/fonts/VT323-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Saira;
  font-weight: 300;
  src: url('/static/fonts/Saira-Light.ttf') format('truetype');
}
@font-face {
  font-family: Saira;
  font-weight: 500;
  src: url('/static/fonts/Saira-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Saira;
  font-weight: 800;
  src: url('/static/fonts/Saira-ExtraBold.ttf') format('truetype');
}
html {
  font-family: 'Saira', sans-serif;
  font-size: calc(5px + (13 - 5) * ((100vw - 300px) / (1600 - 300)));
  color: $text-color;
}
#fullpage {
  z-index: 1;
}
.ufo_placeholder {
  width: 10rem;
  aspect-ratio: 2;
}
img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
