@use 'sass:map';
$sidebar-width: 20rem;
$topbar-height: 3rem;
$topbar-font-size: 2rem;
$footer-height: 4rem;
$hamburger-breakpoint: 1367px;
$cow-height: 10rem;
$cow-width: 7rem;
$beam-height: 25rem;
$technology-size: 4rem;

//colors
$primary-color: #560bad;
$primary-alpha-color: rgba(86, 11, 173, 0.9);
$accent-color: #f72585;
$text-color: #ffffff;
$light-grey-color: #a9a9a9;
$grey-color: #323232;
$dark-grey-color: #393939;
$terminal-green-color: #00ff00;
$terminal-red-color: #cc079d;
$terminal-yellow-color: #edfe1f;
