@use 'sass:map';
$sidebar-width: 20rem;
$topbar-height: 3rem;
$topbar-font-size: 2rem;
$footer-height: 4rem;
$hamburger-breakpoint: 1367px;
$cow-height: 10rem;
$cow-width: 7rem;
$beam-height: 25rem;
$technology-size: 3rem;
