.sidebar {
  position: fixed;
  right: calc(#{-$sidebar-width} - 5px);
  width: $sidebar-width;
  height: 100vh;
  box-shadow: -2px 0 3px var(--theme-accent);
  transition: all 0.5s linear;
  z-index: 3;
  background-color: var(--theme-primary);
  &[data-is-open='true'] {
    right: 0;
  }
}
.sidebar__menu {
  margin-top: $topbar-height;
  height: calc(100% - #{$topbar-height});
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: $hamburger-breakpoint) {
  .sidebar {
    display: none;
  }
}
