.container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  padding: 1rem 2rem;
  background-color: #393939;
  border-radius: 0.5rem;
  display: grid;
  animation: move-dialog 400ms linear 0s 1 forwards;
  -webkit-animation: move-dialog 400ms linear 0s 1 forwards;
}
.text {
  color: darkgrey;
  margin-bottom: 0.5rem;
}
.button {
  cursor: pointer;
  color: var(--theme-text);
  justify-self: center;
}

@keyframes move-dialog {
  to {
    transform: translate(-50%, -5rem);
  }
}
@-webkit-keyframes move-dialog {
  to {
    transform: translate(-50%, -5rem);
  }
}
