.container {
  transform: translateY(5rem);
  width: calc(100% - 4.25rem);
  margin-left: 4.25rem;
  display: grid;
  grid-template-columns: repeat(3, 5rem) 1fr repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  grid-template-areas:
    '  .    up     .    .       .         .           .     '
    'left   .    right  .       .       fire          .     '
    '  .   down    .    .  rotate-left     .     rotate-right';
}
