.sections__particles {
 position: absolute;
 width: 100%;
 height: 100%;
}
.section__container {
 height: calc(100% - #{$topbar-height});
 margin-top: $topbar-height;
 &[data-is-last] {
  height: calc(100% - calc(#{$topbar-height} + #{$footer-height}));
 }
}
