$fireSizeFactor: 0.6;
.ufo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 7rem;
  aspect-ratio: $fireSizeFactor;
  z-index: 2;
  transition: filter 1000ms ease 0s;
  &[data-is-blured='true'] {
    filter: blur(5px);
  }
}
.ufo__image {
  background-image: url('/static/images/ufo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 100%;
  height: calc(1 / ($fireSizeFactor + 1) * 100%);
  position: absolute;
  z-index: 2;
}
.ufo__engine {
  background-image: url('/static/images/engine.svg');
  background-size: contain;
  width: 100%;
  height: calc($fireSizeFactor / ($fireSizeFactor + 1) * 100%);
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  bottom: 10%;
  opacity: 0;
}
.ufo__beam {
  background-image: url('/static/images/ufo-beam.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  top: calc(1 / ($fireSizeFactor + 1) * 100%);
  left: 50%;
  transform: translate(-50%);
}
