$fireSizeFactor: 0.6;
.ufo {
  position: fixed;
  aspect-ratio: $fireSizeFactor;
  visibility: hidden;
}
.ufo__image {
  background-image: url('/static/images/ufo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 100%;
  height: calc(1 / ($fireSizeFactor + 1) * 100%);
  position: absolute;
  z-index: 2;
}
.ufo__fire {
  background-image: url('/static/images/fire.svg');
  background-size: contain;
  width: 100%;
  height: calc($fireSizeFactor / ($fireSizeFactor + 1) * 100%);
  background-repeat: no-repeat;
  background-position-x: center;
  opacity: 0;
  position: absolute;
  bottom: 10%;
}
