.cow {
  position: relative;
  cursor: pointer;
  grid-row: start;
  align-self: end;
  aspect-ratio: 1;
}
.cow__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
