.container {
  position: relative;
  grid-row: start;
  align-self: end;
}
.ufo_placeholder {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -200%);
}
.button {
  cursor: pointer;
}
.image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
