.container {
  align-self: center;
  width: 40rem;
  & .input_container {
    position: relative;
  }
  & input {
    width: 40rem;
    background-color: $primary-alpha-color;
    color: $text-color;
    border: 2px solid $light-grey-color;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    outline: none;
    &[data-valid='focused'] {
      border-color: $text-color;
    }
    &[data-valid='false'] {
      color: $accent-color;
      border-color: $accent-color;
    }
    &[data-valid='true'] {
      color: $terminal-green-color;
      border-color: $terminal-green-color;
    }
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $light-grey-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $light-grey-color;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $light-grey-color;
    }
  }
  & .error_message {
    position: absolute;
    left: 0.8rem;
    top: 100%;

    color: $accent-color;
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  & .message_container {
    position: relative;
    width: 40rem;
    border: 2px solid $light-grey-color;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 1.1rem 0;
    color: $text-color;
    &[data-valid='focused'] {
      border-color: $text-color;
    }
    &[data-valid='false'] {
      color: $accent-color;
      border-color: $accent-color;
    }
    &[data-valid='true'] {
      color: $terminal-green-color;
      border-color: $terminal-green-color;
    }
  }
  & textarea {
    color: inherit;
    width: 38rem;
    resize: none;
    background-color: $primary-alpha-color;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $light-grey-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $light-grey-color;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $light-grey-color;
    }
    white-space: pre-line;
    overflow-y: auto;
    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: $text-color $light-grey-color;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $light-grey-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey-color;
      border-radius: 2px;
      border: 0px none $light-grey-color;
    }
  }
  & button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-alpha-color;
    color: $terminal-green-color;
    padding: 0.5rem 2rem;
    border: 2px solid $terminal-green-color;
    border-radius: 1rem;
    transition: 250ms;
    text-transform: uppercase;
    cursor: pointer;
    svg {
      margin-right: 0.3rem;
    }
    &:hover,
    :focus {
      background-color: $terminal-green-color;
      color: black;
    }
  }
}

@media screen and (orientation: portrait) {
  .container {
    justify-self: center;
    align-self: end;
  }
}
