.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 1rem;
  font-family: 'VT323', monospace;
  color: $light-grey-color;
  font-size: 1.3rem;
  z-index: 1;
}
