*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
}
a,
a:hover,
a:focus,
a:active {
 text-decoration: none;
 color: inherit;
}
ul {
 list-style: none;
}
