$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-accent: --theme-accent;
$--theme-shadow: --theme-shadow;
$--theme-shadow-light: --theme-shadow-light;
$--theme-shadow-dark: --theme-shadow-dark;
$--theme-text: --theme-text;
$--theme-button: --theme-button;
$--theme-alpha-background: --theme-alpha-background;
$--theme-bubble1: --theme-bubble1;
$--theme-bubble2: --theme-bubble2;
$--theme-bubble3: --theme-bubble3;
$--theme-bubble4: --theme-bubble4;

$theme-map-light: (
 $--theme-primary: #ebfaff,
 $--theme-secondary: #90e0ef,
 $--theme-accent: #023e8a,
 $--theme-shadow: #0096c7,
 $--theme-shadow-light: #99e6ff,
 $--theme-shadow-dark: rgba(255, 255, 255, 0.6),
 $--theme-text: #0077b6,
 $--theme-button: #023e8a,
 $--theme-alpha-background: rgba(0, 119, 182, 0.2),
 $--theme-bubble1: rgba(89, 149, 182, 0.1),
 $--theme-bubble2: rgba(60, 135, 175, 0.2),
 $--theme-bubble3: rgba(54, 135, 179, 0.3),
 $--theme-bubble4: rgba(56, 141, 187, 0.4),
);

$theme-map-dark: (
 $--theme-primary: #560bad,
 $--theme-secondary: #7209b7,
 $--theme-accent: #f72585,
 $--theme-shadow: #3a0ca3,
 $--theme-shadow-light: rgba(255, 255, 255, 0.6),
 $--theme-shadow-dark: rgba(72, 12, 168, 0.6),
 $--theme-text: #ffffff,
 $--theme-button: #fc6dad,
 $--theme-alpha-background: rgba(247, 37, 133, 0.15),
 $--theme-bubble1: rgba(248, 155, 197, 0.1),
 $--theme-bubble2: rgba(253, 117, 179, 0.2),
 $--theme-bubble3: rgba(247, 77, 154, 0.3),
 $--theme-bubble4: rgba(247, 37, 133, 0.4),
);

@mixin spread-map($map: ()) {
 @each $key, $value in $map {
  #{$key}: $value;
 }
}

:root.light {
 @include spread-map($theme-map-light);
}
:root.dark {
 @include spread-map($theme-map-dark);
}
