.container {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 0.5rem;
}
.image_container {
  display: grid;
  place-items: center;
}
.key_desc_container {
  display: grid;
  align-items: center;
}
