.key {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 0.5rem;
}
.key__image_container {
  display: grid;
  place-items: center;
}
.key__desc_container {
  display: grid;
  align-items: center;
}
