.key {
  display: flex;
  width: 100%;
  padding: 1rem;
}
.key__image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  width: 50%;
  margin-right: 1rem;
}
.key__desc_container {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: left;
}
