.home__image {
  background-image: url('/static/images/planet-earth.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
}
