$ufo-orbit-time: 5s;
.home_image__container {
 align-self: center;
 justify-self: center;
 width: 70%;
 aspect-ratio: 1;
 position: relative;
}
.home_image__plain {
 width: 100%;
 aspect-ratio: 1;
 -webkit-transform: rotateX(75deg) rotateY(-30deg);
 transform: rotateX(75deg) rotateY(-30deg);
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
}

.home_image__earth {
 position: absolute;
 background-image: url('/static/images/planet-earth.png');
 background-size: contain;
 width: 60%;
 aspect-ratio: 1;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%) rotateY(30deg) rotateX(-75deg);
 transform: translate(-50%, -50%) rotateY(30deg) rotateX(-75deg);
}

.home_image__orbit {
 width: 100%;
 height: 100%;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-animation-name: orbit;
 animation-name: orbit;
 -webkit-animation-duration: $ufo-orbit-time;
 animation-duration: $ufo-orbit-time;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 animation-timing-function: linear;
 display: grid;
 justify-items: end;
 align-items: end;
}

.home_image__ufo {
 width: 10%;
 aspect-ratio: 1;
 -webkit-animation-name: invert-orbit;
 animation-name: invert-orbit;
 -webkit-animation-duration: $ufo-orbit-time;
 animation-duration: $ufo-orbit-time;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 animation-timing-function: linear;
 transform: rotateY(30deg) rotateX(-75deg) scale(1.8);
}

.ufo {
 position: absolute;
 background-image: url('/static/images/ufo.svg');
 background-size: contain;
 background-repeat: no-repeat;
 background-position-y: bottom;
 width: 100%;
 aspect-ratio: 1;
}

@-webkit-keyframes orbit {
 0% {
  transform: rotateZ(360deg);
 }
 25% {
  transform: rotateZ(270deg);
 }
 50% {
  transform: rotateZ(180deg);
 }
 75% {
  transform: rotateZ(90deg);
 }
 100% {
  transform: rotateZ(0deg);
 }
}
@keyframes orbit {
 0% {
  transform: rotateZ(360deg);
 }
 25% {
  transform: rotateZ(270deg);
 }
 50% {
  transform: rotateZ(180deg);
 }
 75% {
  transform: rotateZ(90deg);
 }
 100% {
  transform: rotateZ(0deg);
 }
}

@-webkit-keyframes invert-orbit {
 0% {
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg) scale(1.8);
 }
 25% {
  transform: rotateZ(90deg) rotateY(30deg) rotateX(-75deg) scale(1.3);
 }
 40% {
  transform: rotateZ(144deg) rotateY(30deg) rotateX(-75deg) scale(1);
 }
 50% {
  transform: rotateZ(180deg) rotateY(30deg) rotateX(-75deg) scale(1.2);
 }
 75% {
  transform: rotateZ(270deg) rotateY(30deg) rotateX(-75deg) scale(1.5);
 }
 90% {
  transform: rotateZ(324deg) rotateY(30deg) rotateX(-75deg) scale(2);
 }
 100% {
  transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg) scale(1.8);
 }
}

@keyframes invert-orbit {
 0% {
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg) scale(1.8);
 }
 25% {
  transform: rotateZ(90deg) rotateY(30deg) rotateX(-75deg) scale(1.3);
 }
 40% {
  transform: rotateZ(144deg) rotateY(30deg) rotateX(-75deg) scale(1);
 }
 50% {
  transform: rotateZ(180deg) rotateY(30deg) rotateX(-75deg) scale(1.2);
 }
 75% {
  transform: rotateZ(270deg) rotateY(30deg) rotateX(-75deg) scale(1.5);
 }
 90% {
  transform: rotateZ(324deg) rotateY(30deg) rotateX(-75deg) scale(2);
 }
 100% {
  transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg) scale(1.8);
 }
}
