.container {
  position: relative;
  display: grid;
  width: 40%;
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
}
.earth_image {
  width: 100%;
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
}
