.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  gap: 2rem;
}
.link {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0.1rem 1rem;
  border: 2px solid $terminal-green-color;
  transition: 250ms;
  svg {
    margin-right: 0.2rem;
  }
  &:hover,
  :focus {
    background-color: $terminal-green-color;
    color: black;
  }
}
