.container {
  width: 100%;
  height: $footer-height;
  box-shadow: 0 -6px 4px -4px $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.author {
  font-size: 0.8rem;
  font-weight: 600;
}
.copyright {
  font-size: 0.7rem;
}
