.sections {
 height: 100vh;
 width: 100vw;
 scroll-behavior: smooth;
 overflow-y: scroll;
 -ms-overflow-style: none;
 scrollbar-width: none;
 transition-duration: 0.4s;
 &::-webkit-scrollbar {
  display: none;
  width: 0;
 }
 > * {
  height: 100vh;
  width: 100vw;
 }
}
.section1 {
 background-color: red;
}
.section2 {
 background-color: blue;
}
.section3 {
 background-color: pink;
}
.section4 {
 background-color: yellow;
}
