.container {
  position: relative;
}
.ufo_placeholder {
  position: absolute;
  left: 50%;
  bottom: $beam-height;
  transform: translateX(-50%);
}
.button {
  height: $cow-height;
  width: $cow-width;
  cursor: pointer;
}
.image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
